@import "css/_variables.css";
@import "css/_grid.css";
@import "css/_header.css";
@import "css/_first_screen.css";
@import "css/_calculator.css";
@import "css/_gallery.css";
@import "css/_about.css";
@import "css/_modeling.css";
@import "css/_delivery.css";
@import "css/_materials.css";
@import "css/_price.css";
@import "css/_delivery.css";
@import "css/_footer.css";
@import "css/_contscts.css";
@import "css/_media.css";


* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
}

html {
    margin:0;
    padding:0;
}

body {
	color: var(--thirdColor);
	font: 14px var(--primaryFontFamily);
    overflow-x:hidden;
    background-color: #E5E5E5;
}

section {
  padding: 50px 0 0 0;
}

.section__title {
  flex: 0 0 100%;
  text-align: center;
}

br {
  padding: 10px 0 10px 0;
}

h1, h2, h3, h4, h5 , h6 {
  color: #24242a;
  text-transform: uppercase;
  font-weight: 600;
}

h1 {
  font-size: 4em;
  font-weight: 700;
}

h2 {
  font-size: 3em;
  font-weight: 700;
  font-family: "Montserrat";
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

p {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.title_block {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #000000;
}

.title {
    font-size: 3em;
    flex: 1 0 60%;
    padding-top: 10px;
}

.subtitle {
    flex: 1 0 40%;
    font-size: 1em;
    padding-top: 10px;
}

.instagram-block  {
    font-family: "Montserrat";
    position: fixed;
    cursor: pointer;
    z-index: 900;
    height: 100vh;
    width: 7vw;
    left:0;
    top: 0;
}

.tiktok-block {
    font-family: "Montserrat";
    position: fixed;
    cursor: pointer;
    z-index: 900;
    height: 100vh;
    width: 7vw;
    right:0;
    top: 0;
}

.instagram-white,
.tiktok-white {
        top: 50%;
    position: absolute;
    transform: rotate(-90deg);
    font-size: 2em;
    text-decoration: none;
    z-index: 900;
    color:#ffffff
}

.instagram-dark,
.tiktok-dark{
    top: 50%;
    position: absolute;
    transform: rotate(-90deg);
    font-size: 2em;
    text-decoration: none;
    z-index: 900;
    color:#000000
}

.instagram:hover,
.tiktok:hover     {
    color: #474646;
}

.hide_element {
    display: none;
}

.red {
    color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.message {
  overflow: hidden;
}
