@import "css/_variables.css";
@import "css/_grid.css";
@import "css/_header.css";
@import "css/_first_screen.css";

* {
  box-sizing: border-box;
}

body {
	color: var(--thirdColor);
	font: 14px var(--primaryFontFamily);
    overflow-x:hidden;
    background-color: #E5E5E5;
    color: #000000
}

section {
  padding: 50px 0 0 0;
}

.section__title {
  flex: 0 0 100%;
  text-align: center;
}

br {
  padding: 10px 0 10px 0;
}

h1, h2, h3, h4, h5 , h6 {
  color: #24242a;
  text-transform: uppercase;
  font-weight: 600;
}

h1 {
  font-size: 4em;
  font-weight: 700;
}

h2 {
  font-size: 3em;
  font-weight: 700;

}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

p {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

