.footer {
    background-color: #B4B4B4;
    height: 50vh;
    font-family: "monserat";
}

.footer-logo {
    font-size: 6em;
    flex: 0 0 25%;
}

.footer-list {
    flex: 0 0 30%;
    margin: 20px 0 50px 30px;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 0 0 0;
    padding: 50px 0 0 0;
}

.credits {
    flex: 0 0 50%;
    font-size: 0.8em;
}

