.header-inner{
    display: flex;
    height: 80px;
    padding-top: 15px;
    justify-content: space-between;
}

.bg-dark a{
    color: #000000;
}

.bg-white a{
    color: #FFFFFF;
}

.logo-red {
    color: var(--primaryColor);
    background-color: #FFFFFF;
    font-family: var(--primaryFontFamily);
}

.header__logo img{
    width: 180px;
    margin: 20px 0 0 0
}

.header__logo:hover,
.header__logo:active {
    text-decoration: none;
    color: var(--primaryColor);
    cursor: pointer;
}

.navbar {
    z-index: 1000;
    position: fixed;
    margin: 0 0 0 500px;
}

.navbar a{
    text-decoration: none;
    font-size: 1.2em;
    padding: 17px 5px;
}


.navbar a:hover {
    text-decoration: none;
    color: #FF4140;
}

.navbar a:nth-child(7) {
    padding-right: 0;
    margin-right: 0;
}

.header-phone {
	padding: 17px 5px;
    font-size: 1em;
}
