.header-inner{
    margin: 25px 0 0 0;
    text-align: right;
}

.bg-dark a{
    color: #000000;
}

.bg-white a{
    color: #FFFFFF;
}

.logo-red {
    color: var(--primaryColor);
    background-color: #FFFFFF;
    font-family: var(--primaryFontFamily);
}

.header__logo img{
    width: 180px;
    margin: 20px 0 0 0
}

.header__logo:hover,
.header__logo:active {
    text-decoration: none;
    color: var(--primaryColor);
    cursor: pointer;
}

.header {
    width: 1200px;
    z-index: 1000;
    position: fixed;
    font-family: "monserat";
    height:80px;
}

.header-bg-white {
    background-color: #E5E5E5;

}

.header-bg-dark {
        background-color: #000000;
}

.navbar a{
    text-decoration: none;
    font-size: 1.3em;
    padding: 30px 5px;
}


.navbar a:hover {
    text-decoration: none;
    color: #FF4140;
}


.navbar a:nth-child(8) {
    padding-right: 0;
    margin-right: 0;
}

.navbar a:nth-child(1) {

}

.header-phone {
	padding: 17px 5px;
    font-size: 1em;
}
