.equipment {
  background-color: $primaryColor;
  //margin: 220px 0 50px 0;
  padding: 50px 0 50px 0;
  color: $secondaryColor;
  font-size: 20px;
}

.equipment .section__title {
  width: 100%;
  display:block;
  text-align: center;
  color: $secondaryColor
}

.section__subtitle {
  text-align: center;
  padding: 20px 0 50px 0;
  width: 60%;
  margin: auto;
}

.carousel-slider {
  position: absolute;
  left: 20%
}

.equipment-circle-block {
  position: relative;
  display: flex;
  width:1400px;
  margin: auto;

}

.equipment-circle-block-item{
  border: 2px solid $primaryColor;
  border-top-color: #9a9898;
  border-left-color: #9a9898;
  transform: rotate(45deg);
  width: 150px;
  height: 150px;
  background-color: #eee;
  text-align: center;
  display:block;
  margin: -125px auto 50px auto;
  border-radius: 100px;
}

.material-title {
  flex: 1 0 100%
}

.material-block {
  text-align: center;
  margin: 20px 20px;
  flex: 1 0 30%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.material-block h3 {
  flex: 1 1 100%;
  background-color: #3e3e3e;
  padding: 5px;
  color: #eee;
}

.material-block-main {
  display: flex;
  flex-wrap: wrap;
}

.gallery-img {
  display: inline-block;
  width: 20%;
  height: 250px;
  overflow: hidden;
  margin:0;
  padding: 0;
}

.gallery-img img {
  object-fit: cover;
  width: 400px;
  border: none;
  margin: 0;
  padding: 0;
}

.gallery-controls {
  display: flex;
  justify-content: center;
}

.gallery-control-btn {
  font-size: 2em;
  padding: 10px;
}