@media screen and (min-width: 320px) and (max-width: 480px) {

    html {
       overflow-x: hidden;
    }

    body {
       overflow-x: hidden;
       position: relative;
    }

    .container {
        width: 100%;
    }

    .phone {
        display: block;
        position: absolute;
        right: 10px
    }

    .header {
        margin: 0;
        padding: 0;
        font-size: 0.7em;
        position: absolute;
    }

    .social-network a:nth-child(2) img {
        width: 50px;
        height: 50px;
    }

    .social-network a:nth-child(1) img {
        width: 45px;
        height: 25px;
        margin: 12.5px -15px 12.5px 0
    }


    .phone {
        text-decoration: none;
        cursor:pointer;
        margin: 0;
        display: none;
    }


    .navbar a{
        text-decoration: none;
        font-size: 0.8em;
        margin: 0;
        display: none;
    }

    .navbar a:nth-child(2),
    .navbar a:nth-child(3),
    .navbar a:nth-child(4),
    .navbar a:nth-child(7),
    .navbar a:nth-child(5) {
        display: none
    }

    .navbar a:nth-child(8) {
        padding-right: 0;
    }

    .video-wrapper {
        width: 100%;
        height: 100%!important;
        object-fit: scale-down;
    }
    video {
        object-fit: scale-down;
    }

    .first-screen {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first_logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        text-align: center;
        margin: -80px 0 0 0;
        left: 0
    }

    .first_logo P{
        width: 200px;
        font-size: 0.8em;
        margin: 10px 0;
    }

    .first_logo img {
        width: 200px;
    }

    .first-screen-btn {
        display: none;
    }

    .about {
        font-size: 0.8em;
                padding: 0

    }

    .about-list  li{
        margin: 0 0 0 15px
    }

    .about-list  li:last-child{
        margin: 0 0 40px 15px
    }

    .about img {
        display: none;
    }

    .first-screen__title-block {
        width: 100%;
        flex: 1 0 100%;
        align-self: center;
        margin: 0 0 0 15px
    }

    .about-list {
        margin: 30px 0 0 0;
        font-size: 1em;
    }


    .about img {
        width: 250px;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
    }

    .h2 {
      font-size: 1em;
    }

    .title {
        font-size: 1em!important;
    }

    .subtitle {
        flex: 1 0 40%;
        font-size: 0.7em;
    }

    .calculator {
        margin: 10px auto;
    }

    .calculator .title_block .title,
    .about .title_block .title,
    .price .title_block .title,
    .gallery .title_block .title,
    .materials .title_block .title,
    .modeling .title_block .title,
    .contacts .title_block .title,
    .delivery .title_block .title{
        margin-left: 10px
    }

    .calculator .card {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
    }

    .first-card {
        flex-direction: column;
    }

    .first-card label {
        width: 200px;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .calculator .title_block .subtitle {
        display: none;
    }

    .calculator .title_block .title {
        margin-bottom: 50px;
        font-size: 0.5em;
    }


    .first-card img{
        height: 30px;
    }

    label.common-label {
        font-size: 0.6em;
        padding: 0 0 0 0;
    }

    .first-card-calculator-btn {
        display: block;
        margin-left: 20px;
        padding: 10px 15px;
        font-size: 0.7em;
        border: 1px solid #000000;
        border-radius: 30px;
        cursor: pointer;
    }


    .calculator-footer-block__title {
        font-size: 0.9em;
        width: 200px
    }

    .instagram-block,
    .tiktok-block {
        display: none;
    }

    .gallery_block {
        justify-content: space-around;
        align-content: flex-start;
        height:450px
    }

    .gallery-block__item{
        flex: 0 0 33%;
        object-fit: cover;
        overflow: hidden;
        width: 250px;
        height: 110px;
        margin: 0 0;
        padding: 0;
    }

    .show-more-btn {
        display: none;
    }

    .gallery-block__item img{
        object-fit: cover;
        max-width: 250px;
        width: 100%;
        height: auto;
    }

    .gallery-block__item:nth-child(13),
    .gallery-block__item:nth-child(14),
    .gallery-block__item:nth-child(15),
    .gallery-block__item:nth-child(16) {
        display: none;
    }



    .materials .title_block {
        margin: 0;
        margin-bottom: 50px;

    }

    .materials .title_block .subtitle {
        font-size: 0.7em;
        display: none;
    }

    .material-block-title {
        font-size: 1.5em;
        flex: 1 0 60%;
    }

    .material-block-item {
        align-self: flex-start;
        margin: 0 20px;
        flex: 1 0 15%;
        font-size:0.8em;
    }

    .material-block {
        margin-left: 10px;
        margin-right: 10px;
    }

    .material-block-description {
        font-size: 0.8em;
    }

    .material-block-body {
        text-align: center;
    }

    .material-block-material div:nth-child(n+2),
    .material-block-material div:nth-child(n+3) {
        display: none;
    }

    .modeling .title_block .subtitle {
        display: none;
    }


    .first-modeling-block img,
    .second-modeling-block img,
    .third-modeling-block img,
    .four-modeling-block img {
        display: none
    }

    .first-modeling-block,
    .second-modeling-block,
    .third-modeling-block,
    .four-modeling-block {
        flex-direction: column;
        margin: 0 0 30px 10px;
    }

    .first-modeling-block::before,
    .second-modeling-block::before,
    .third-modeling-block::before,
    .four-modeling-block::before {
        display: none;
    }

    .modeling .title_block {
        margin: 60px 0 50px 0
    }

    .first-modeling-text-title,
    .second-block-text-title,
    .third-block-text-title {
        margin: 0 0 10px  0;
        width: 290px;
        font-size: 1em;

    }

    .four-block-text-title {
        width: 230px;
        margin: 0 0 10px 0;
    }

    .first-modeling-text,
    .second-block-text,
    .third-block-text,
    .third-block-text-subtitle,
    .second-block-text-subtitle,
    .first-modeling-text-subtitle {
        width: 320px;
        margin: 0 20px 0 0;
    }

    .four-block-text {
        margin: 0;
        flex-direction: column;
    }

    .four-block-text-subtitle {
        margin: 0
    }

    .four-block-text-title {
        margin: 0 0 10px 0;
        font-size: 1em;
    }

    .price {
        margin: 80px 0 0 0;
        height: 45vh;
    }

    .price .title_block {
        height: 100px
    }

    .table {
        margin: 0 0 0 10px;
        width: 95%;
        font-size: 0.7em;
    }

    .table-title .cell:nth-child(3){
        display: none;

    }

    .table-title{
        display: none;
    }

    .table-item .cell {
        font-size: 0.7em;
    }
    .table-item {
        margin: 10px 0
    }

    .price .title_block .subtitle {
        font-size: 0.7em;
    }

    .delivery  {
        margin: 20px 0 10px 0;
    }

    .delivery-item img {
        width: 40px;
        height: 40px;
        margin: 0;
    }

    .delivery .title_block {
        flex-direction: column;
    }

    .delivery .title_block .subtitle{
        font-weight: 300;
        margin: 20px 0 0 10px
    }

    .delivery-block {
        margin: 100px 0
    }

    .delivery-item img:nth-child(1) {
        margin: 0 20px 0 20px
    }

    .contacts-form {
        width: 300px;
        height: 480px;
        position: sticky;
        justify-items: center;
        align-self: center;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contacts-block {
        margin: 0;
    }

    .contacts {
        height: 600px;
    }

    .contacts-form form input[type=text] {
        font-size: 0.8em

    }

    .contacts-form form input[type=file] {
        font-size: 0.8em

    }

    .contacts-form form input[type=checkbox] {
        font-size: 0.8em;
        margin: 10px 0 0 0;
        padding: 0

    }
    .phone-checkbox {
        flex: 0 0 100%
    }

    textarea {
        height: 80px
    }

    .contact-btn {
        font-size: 0.9em;
        color: black;
        padding: 10px
    }

    .contacts-phone input {
        width: 100%
    }

    .contacts-block {
    font-size: 1em;
    margin: 20px 0  50px 0;
        text-align: center;
    }

    .footer-logo {
        font-size: 3em;
        margin: 30px 0 0 80px
    }

    .footer-list {
        display: none
    }

    .footer-block div:nth-child(3),
    .footer-block div:nth-child(4) {
        display: none
    }

    .footer {
        height: 20vh;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    html {
       overflow-x: hidden;
    }

    body {
       overflow-x: hidden;
       position: relative;
    }

    .container {
        width: 100%;
    }

    .phone {
        display: block;
        position: absolute;
        right: 10px
    }

    .header {
        margin: 0;
        padding: 0;
        font-size: 0.7em;
        position: absolute;
    }

    .social-network a:nth-child(2) img {
        width: 50px;
        height: 50px;
    }

    .social-network a:nth-child(1) img {
        width: 45px;
        height: 25px;
        margin: 12.5px -15px 12.5px 0
    }


    .phone {
        text-decoration: none;
        cursor:pointer;
        margin: 0;
        display: none;
    }


    .navbar a{
        text-decoration: none;
        font-size: 0.8em;
        margin: 0;
        display: none;
    }

    .navbar a:nth-child(2),
    .navbar a:nth-child(3),
    .navbar a:nth-child(4),
    .navbar a:nth-child(7),
    .navbar a:nth-child(5) {
        display: none
    }

    .navbar a:nth-child(8) {
        padding-right: 0;
    }

    .video-wrapper {
        width: 100%;
        height: 100%!important;
        object-fit: scale-down;
    }
    video {
        object-fit: scale-down;
    }

    .first-screen {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first_logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        text-align: center;
        margin: -130px 0 0 0;
        left: 0;
        align-items: center;
    }

    .first_logo P{
        width: 200px;
        font-size: 0.8em;
        margin: 30px 0;
    }

    .first_logo img {
        width: 300px;
    }

    .first-screen-btn {
        display: none;
    }

    .about {
        font-size: 0.8em;
        padding: 0

    }

    .about-list  li{
        margin: 0 0 0 15px
    }

    .about-list  li:last-child{
        margin: 0 0 40px 15px
    }

    .about img {
        display: none;
    }

    .first-screen__title-block {
        width: 100%;
        flex: 1 0 100%;
        align-self: center;
        margin: 0 0 0 15px
    }

    .about-list {
        margin: 30px 0 0 0;
        font-size: 1em;
    }


    .about img {
        width: 250px;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
    }

    .h2 {
      font-size: 1em;
    }

    .title {
        font-size: 1em!important;
    }

    .subtitle {
        flex: 1 0 40%;
        font-size: 0.7em;
    }

    .calculator {
        margin: 10px auto;
    }

    .calculator .title_block .title,
    .about .title_block .title,
    .price .title_block .title,
    .gallery .title_block .title,
    .materials .title_block .title,
    .modeling .title_block .title,
    .contacts .title_block .title,
    .delivery .title_block .title{
        margin-left: 10px
    }

    .calculator .card {
        width: 80%;
        height: 250px;
        display: flex;
        flex-direction: column;
        margin: 0 auto
    }

    .first-card {
        flex-direction: column;
    }

    .first-card label {
        width: 200px;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .calculator .title_block .subtitle {
        display: none;
    }

    .calculator .title_block .title {
        margin-bottom: 50px;
        font-size: 0.5em;
    }


    .first-card img{
        height: 30px;
    }

    label.common-label {
        font-size: 0.6em;
        padding: 0 0 0 0;
    }

    .first-card-calculator-btn {
        display: block;
        margin-left: 20px;
        padding: 10px 15px;
        font-size: 0.7em;
        border: 1px solid #000000;
        border-radius: 30px;
        cursor: pointer;
    }


    .calculator-footer-block__title {
        font-size: 0.9em;
        width: 200px
    }

    .instagram-block,
    .tiktok-block {
        display: none;
    }

    .gallery_block {
        justify-content: space-around;
        align-content: flex-start;
        height:450px
    }

    .gallery-block__item{
        flex: 0 0 33%;
        object-fit: cover;
        overflow: hidden;
        width: 250px;
        height: 110px;
        margin: 0 0;
        padding: 0;
    }

    .show-more-btn {
        display: none;
    }

    .gallery-block__item img{
        object-fit: cover;
        max-width: 250px;
        width: 100%;
        height: auto;
    }

    .gallery-block__item:nth-child(13),
    .gallery-block__item:nth-child(14),
    .gallery-block__item:nth-child(15),
    .gallery-block__item:nth-child(16) {
        display: none;
    }

    .materials .title_block {
        margin: 0;
        margin-bottom: 50px;

    }

    .materials .title_block .subtitle {
        font-size: 0.7em;
        display: none;
    }

    .material-block-title {
        font-size: 1.5em;
        flex: 1 0 60%;
    }

    .material-block-item {
        align-self: flex-start;
        margin: 0 20px;
        flex: 1 0 15%;
        font-size:0.8em;
    }

    .material-block {
        margin-left: 10px;
        margin-right: 10px;
    }

    .material-block-description {
        font-size: 0.8em;
    }

    .material-block-body {
        text-align: center;
    }

    .material-block-material div:nth-child(n+2),
    .material-block-material div:nth-child(n+3) {
        display: none;
    }

    .modeling .title_block .subtitle {
        display: none;
    }


    .first-modeling-block img,
    .second-modeling-block img,
    .third-modeling-block img,
    .four-modeling-block img {
        display: none
    }

    .first-modeling-block,
    .second-modeling-block,
    .third-modeling-block,
    .four-modeling-block {
        flex-direction: column;
        margin: 0 0 30px 10px;
    }

    .first-modeling-block::before,
    .second-modeling-block::before,
    .third-modeling-block::before,
    .four-modeling-block::before {
        display: none;
    }

    .modeling .title_block {
        margin: 60px 0 50px 0
    }

    .first-modeling-text-title,
    .second-block-text-title,
    .third-block-text-title {
        margin: 0 0 10px  0;
        width: 290px;
        font-size: 1em;

    }

    .four-block-text-title {
        width: 230px;
        margin: 0 0 10px 0;
    }

    .first-modeling-text,
    .second-block-text,
    .third-block-text,
    .third-block-text-subtitle,
    .second-block-text-subtitle,
    .first-modeling-text-subtitle {
        width: 320px;
        margin: 0 20px 0 0;
    }

    .four-block-text {
        margin: 0;
        flex-direction: column;
    }

    .four-block-text-subtitle {
        margin: 0
    }

    .four-block-text-title {
        margin: 0 0 10px 0;
        font-size: 1em;
    }

    .price {
        margin: 80px 0 0 0;
        height: 45vh;
    }

    .price .title_block {
        height: 100px
    }

    .table {
        margin: 0 0 0 10px;
        width: 95%;
        font-size: 0.7em;
    }

    .table-title .cell:nth-child(3){
        display: none;

    }

    .table-title{
        display: none;
    }

    .table-item .cell {
        font-size: 0.7em;
    }
    .table-item {
        margin: 10px 0
    }

    .price .title_block .subtitle {
        font-size: 0.7em;
    }

    .delivery  {
        margin: 20px 0 10px 0;
    }

    .delivery-item img {
        width: 40px;
        height: 40px;
        margin: 0;
    }

    .delivery .title_block {
        flex-direction: column;
    }

    .delivery .title_block .subtitle{
        font-weight: 300;
        margin: 20px 0 0 10px
    }

    .delivery-block {
        margin: 100px 0
    }

    .delivery-item img:nth-child(1) {
        margin: 0 20px 0 20px
    }

    .contacts-form {
        width: 300px;
        height: 480px;
        position: sticky;
        justify-items: center;
        align-self: center;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contacts-block {
        margin: 0;
    }

    .contacts {
        height: 600px;
    }

    .contacts-form form input[type=text] {
        font-size: 0.8em

    }

    .contacts-form form input[type=file] {
        font-size: 0.8em

    }

    .contacts-form form input[type=checkbox] {
        font-size: 0.8em;
        margin: 10px 0 0 0;
        padding: 0

    }
    .phone-checkbox {
        flex: 0 0 100%
    }

    textarea {
        height: 80px
    }

    .contact-btn {
        font-size: 0.9em;
        color: black;
        padding: 10px
    }

    .contacts-phone input {
        width: 100%
    }

    .contacts-block {
    font-size: 1.5em;
        text-align: center;
    }

    .footer-logo {
        font-size: 3em;
        margin: 30px 0 0 145px
    }

    .footer-list {
        display: none
    }

    .footer-block div:nth-child(3),
    .footer-block div:nth-child(4) {
        display: none
    }

    .footer {
        height: 20vh;
    }

}

@media screen and (min-width: 769px) and (max-width: 1023px) {


    .social-network a:nth-child(2) img {
        width: 50px;
        height: 50px;
    }

    .social-network a:nth-child(1) img {
        width: 45px;
        height: 25px;
        margin: 12.5px -15px 12.5px 0
    }


    .social-network {
        margin-right: 10px;
    }

    .phone {
        text-decoration: none;
        cursor:pointer;
        margin: 0 20px 0 0;
        font-size: 0.7em;
    }

    .container {
        width: 90%;
        margin: auto;
    }

    .navbar {
        width: 80%;
        z-index: 2000;

    }

    .header-inner {
        display: flex;
        flex-direction: column;
        justify-items: end;
        align-self: end;
        justify-self: end;
    }

    .header-inner{
        margin: 0;
        padding: 0;
    }

    .header {
        width:100%;
        height: 40px;
        margin: 0;
        padding: 0;
        font-size: 1.3em;
         right: 0;
        justify-content: end;
                justify-items: end;
        align-self: end;
        justify-self: end;
    }

    .navbar a{
        text-decoration: none;
        font-size: 0.8em;
        padding: 17px 5px;
        margin: 0
    }

    .navbar a:nth-child(2),
    .navbar a:nth-child(3),
    .navbar a:nth-child(4),
    .navbar a:nth-child(7),
    .navbar a:nth-child(5) {
        display: none
    }

    .navbar a:nth-child(8) {
        margin-right: 10px;
    }

    #myVideo {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        filter: brightness(50%)
    }

    .video-wrapper {
        height: 100%!important;
    }

    .first-screen {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }

    .first_logo {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: -350px;
        text-align: center;
        left: 25%;
                align-items: center;
        justify-content: flex-end;
    }

    .first_logo P{
        width: 300px;
        font-size: 1.2em;
    }

    .first_logo img {
        width: 400px;
        margin-top: 30px
    }

    .first-screen-btn {
        display: none;
    }

    .about {
        display: flex;
        flex-direction: row;
        padding: 450px 0 60px 0;
        font-size: 0.9em;
        margin: 0;
        position: sticky;
    }

    .about-list  li{
        margin: 0 0 0 20px
    }

    .about-list  li:last-child{
        margin: 0 0 40px 20px
    }

    .about img {
    }

    .first-screen__title-block {
        align-self: center;
    }

    .about-list {
        margin: 30px 0 0 0;
        font-size: 1em;
    }


    .about img {
        width: 350px;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
    }


    .title {
        font-size: 1.6em!important;
    }

    .subtitle {
        flex: 1 0 40%;
        font-size: 0.7em;
    }

    .calculator {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .calculator .card {
        margin: 0;
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: row;
    }

    .first-card {
        flex-direction: row;
    }

    .first-card label {
        width: 200px;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .calculator .title_block .subtitle {
    }

    .calculator .title_block .title {
        margin-bottom: 50px;
        font-size: 1.9em;
    }

    .first-card img{
        height: 30px;
    }

    label.common-label {
        font-size: 0.6em;
        padding: 0 0 0 0;
    }

    .first-card-calculator-btn {
        display: block;
        margin-left: 20px;
        padding: 10px 15px;
        font-size: 0.7em;
        border: 1px solid #000000;
        border-radius: 30px;
        cursor: pointer;
    }

    .card {
        margin: 0 auto;
        height: 300px;
    }

    .calculator-footer-block__title {
        font-size: 1.1em;
        width: 200px
    }

    .instagram-block,
    .tiktok-block {
        display: none;
    }

    .gallery_block {
        justify-content: space-around;
        align-content: flex-start;
        height:750px
    }

    .gallery-block__item{
        flex: 0 0 25%;
        object-fit: cover;
        overflow: hidden;
        width: 250px;
        height: 220px;
        margin: 0 0;
        padding: 0;
    }

    .show-more-btn {
        display: none;
    }

    .gallery-block__item img{
        object-fit: cover;
        max-width: 250px;
        width: 100%;
        height: auto;
    }

    .gallery-block__item:nth-child(13),
    .gallery-block__item:nth-child(14),
    .gallery-block__item:nth-child(15),
    .gallery-block__item:nth-child(16) {
        display: none;
    }

    .materials .title_block {
        margin: 0;
        margin-bottom: 50px;

    }

    .materials .title_block .subtitle {
        font-size: 0.7em;
        display: none;
    }

    .material-block-title {
        font-size: 1.5em;
        flex: 1 0 30%;
    }

    .material-block-item {
        align-self: flex-start;
        margin: 0 20px;
        flex: 1 0 15%;
        font-size:0.8em;
    }

    .material-block-description {
        font-size: 0.8em;
    }

    .material-block-body {
        text-align: center;
    }

    .first-modeling-block img,
    .second-modeling-block img,
    .third-modeling-block img,
    .four-modeling-block img {
        display: none
    }

    .first-modeling-block,
    .second-modeling-block,
    .third-modeling-block,
    .four-modeling-block {
        flex-direction: column;
        margin: 0 0 30px 0;
    }

    .first-modeling-block::before,
    .second-modeling-block::before,
    .third-modeling-block::before,
    .four-modeling-block::before {
        display: none;
    }

    .modeling .title_block {
        margin: 60px 0 50px 0
    }

    .first-modeling-text-title,
    .second-block-text-title,
    .third-block-text-title {
        margin: 0 0 10px  0;
        width: 290px;
        font-size: 1em;

    }

    .four-block-text-title {
        width: 230px;
        margin: 0 0 10px 0;
    }

    .first-modeling-text,
    .second-block-text,
    .third-block-text,
    .third-block-text-subtitle,
    .second-block-text-subtitle,
    .first-modeling-text-subtitle {
        width: 600px;
        margin: 0 20px 0 0;
    }

    .four-block-text {
        margin: 0;
        flex-direction: column;
    }

    .four-block-text-subtitle {
        margin: 0
    }

    .four-block-text-title {
        margin: 0 0 10px 0;
        font-size: 1em;
    }

    .price {
        margin: 80px 0 0 0;
    }

    .price .title_block {
        height: 100px
    }

    .price .title_block .subtitle {
        font-size: 1em!important; ;
    }

    .table {
        margin: 0 auto 0 auto;
        width: 100%;
        font-size: 1.3em;
        text-align: center;
    }

    .table-title .cell:nth-child(3){
        display: none;
    }

    .table-title{
        display: none;
    }

    .table-item .cell {
        font-size: 0.7em;
    }

    .price .title_block .subtitle {
        font-size: 0.7em;
    }

    .delivery  {
        margin: 20px 0 150px 0;
    }

    .delivery-block .delivery-item img {
        width: 100px;
        height: 100px;
        margin: 0;
    }

    .delivery .title_block {
        flex-direction: column;
    }

    .delivery .title_block .subtitle{
        font-weight: 300;
        margin: 20px 0 0 0
    }

    .delivery-block {
        margin: 100px 0
    }

    .delivery-item img:nth-child(1) {
        margin: 0 20px 0 20px
    }

    .contacts-form {
        width: 300px;
        height: 480px;
        border-radius: 20px;
        font-size: 1em;
        position: sticky;
        justify-items: center;
        align-self: center;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
                height: 600px;

    }


    .contacts-block {
        margin: 0;
    }


    .contacts-form form input[type=text] {
        font-size: 0.8em

    }

    .contacts-form form input[type=file] {
        font-size: 0.8em

    }

    .contacts-form form input[type=checkbox] {
        font-size: 0.8em;
        margin: 10px 0 0 0;
        padding: 0

    }
    .phone-checkbox {
        flex: 0 0 100%
    }

    textarea {
        height: 80px
    }

    .contact-btn {
        font-size: 0.7em;
        color: black;
        padding: 10px 40px 10px 8px
    }

    .contacts-phone input {
        width: 100%
    }

    .contacts-block {
    font-size: 1em;
    margin: 20px 0  50px 0;
        text-align: center;
    }

    .footer-logo {
        font-size: 3em;
        margin: 30px 0 0 80px
    }

    .footer-list {
        display: none
    }

    .footer-block div:nth-child(3),
    .footer-block div:nth-child(4) {
        display: none
    }

    .footer {
        height: 20vh;
    }


}


@media screen and (min-width: 1024px) and (max-width: 1280px) {

    .container {
        width: 90%;
        margin: auto;
    }

    .navbar {
        display: none;
    }


     .social-network a:nth-child(2) img {
        width: 50px;
        height: 50px;
    }

    .social-network a:nth-child(1) img {
        width: 45px;
        height: 25px;
        margin: 12.5px -15px 12.5px 0
    }


    .social-network {
        margin-right: 10px;
    }

    .phone {
        text-decoration: none;
        cursor:pointer;
        margin: 0 20px 0 0;
        font-size: 0.5em;
    }

    .header-inner {
        display: flex;
        flex-direction: column;
    }

    .header-inner{
        margin: 0;
        padding: 0;
    }

    .header {
        width:100%;
        margin: 0 0 0 0;
        padding: 0;
        font-size: 1.9em;
         right: 0;
    }

    .navbar a{
        text-decoration: none;
        font-size: 0.8em;
        padding: 17px 5px;
        margin: 0
    }

    .navbar a:nth-child(2),
    .navbar a:nth-child(3),
    .navbar a:nth-child(4),
    .navbar a:nth-child(7),
    .navbar a:nth-child(5) {
        display: none
    }

    .navbar a:nth-child(8) {
        margin-right: 10px;
    }

    #myVideo {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        filter: brightness(50%)
    }


    .video-wrapper {
        height: 100%!important;
    }
    .first-screen {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }

    .first_logo {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: -450px;
        text-align: center;
        left: 25%;
                align-items: center;
        justify-content: flex-end;
    }

    .first_logo P{
        width: 350px;
        font-size: 1.5em;
        text-align: center;
        margin: 40px 0 0 0 ;
    }

    .first_logo img {
        width: 550px;
    }

    .first-screen-btn {
        display: none;
    }

    .about {
        display: flex;
        flex-direction: row;
        padding:600px 0 50px 0;
        font-size: 1em;
        margin: 0;
    }

    .about-list  li{
        margin: 0 0 0 20px
    }

    .about-list  li:last-child{
        margin: 0 0 40px 20px
    }

    .about img {
    }

    .first-screen__title-block {
        align-self: center;
    }

    .about-list {
        margin: 30px 0 0 0;
        font-size: 1em;
    }


    .about img {
        width: 350px;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
    }

    .h2 {
      font-size: 1em;
    }

    .title {
        font-size: 2em;
        flex: 1 0 60%;
    }

    .subtitle {
        flex: 1 0 40%;
        font-size: 0.7em;
    }

    .calculator {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .calculator .card {
        margin: 0 auto 0 auto;
        width: 70%;
        height: 350px;
        display: flex;
        flex-direction: row;
    }

    .first-card {
        flex-direction: row;
    }

    .first-card label {
        width: 200px;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .calculator .title_block .subtitle {
    }

    .calculator .title_block .title {
        margin-bottom: 50px;
        font-size: 1.9em;
    }

    .first-card img{
        height: 30px;
    }

    label.common-label {
        font-size: 0.6em;
        padding: 0 0 0 0;
    }

    .first-card-calculator-btn {
        display: block;
        margin-left: 20px;
        padding: 10px 15px;
        font-size: 0.7em;
        border: 1px solid #000000;
        border-radius: 30px;
        cursor: pointer;
    }

    .card {
        margin: 0 auto;
        height: 300px;
    }

    .calculator-footer-block__title {
        font-size: 1.1em;
        width: 200px
    }

    .instagram-block,
    .tiktok-block {
        display: none;
    }

    .gallery_block {
        justify-content: space-around;
        align-content: flex-start;
        height: 400px;
    }

    .gallery-block__item{
        flex: 0 0 20%;
        object-fit: cover;
        overflow: hidden;
        height: 180px;
        margin: 0 0;
        padding: 0;
    }

    .show-more-btn {
    }

    .gallery-block__item img{
        object-fit: cover;
        max-width: 250px;
        width: 100%;
        height: auto;
    }

    .gallery-block__item:nth-child(13),
    .gallery-block__item:nth-child(14),
    .gallery-block__item:nth-child(15),
    .gallery-block__item:nth-child(16) {
    }

    .materials .title_block {
        margin: 0;
        margin-bottom: 50px;

    }

    .materials .title_block .subtitle {
        font-size: 0.9em;
    }

    .material-block-title {
        font-size: 1.5em;
        flex: 1 0 30%;
    }

    .material-block-item {
        align-self: flex-start;
        margin: 0 20px;
        flex: 1 0 25%;
        font-size: 1em;
    }

    .material-block-description {
        font-size: 0.8em;
    }

    .material-block-body {
        text-align: center;
    }

    .material-block-material div:nth-child(n+2),
    .material-block-material div:nth-child(n+3) {
    }

    .modeling .title_block .subtitle {
    }


    .first-modeling-block img,


    .four-modeling-block img {
        width: 200px;
        margin: 0 20px 0 0
    }

    .second-modeling-block img {
        width: 500px;
        margin: 0 20px 0 0
    }

    .third-modeling-block img {
                width: 470px;
        margin: 0 20px 0 0
    }

    .first-modeling-block,
    .second-modeling-block,
    .third-modeling-block,
    .four-modeling-block {
        flex-direction: row;
    }

    .first-modeling-block::before,
    .second-modeling-block::before,
    .third-modeling-block::before,
    .four-modeling-block::before {
        display: none;
    }

    .modeling .title_block {
    }

    .first-modeling-text-title,
    .second-block-text-title,
    .third-block-text-title {
        margin: 0 0 10px  0;
        font-size: 1.5em;
    }

    .four-block-text-title {
        margin: 0 0 10px 0;
    }

    .first-modeling-text,
    .second-block-text,
    .third-block-text,
    .third-block-text-subtitle,
    .second-block-text-subtitle,
    .first-modeling-text-subtitle {
        margin: 0 10px 0 0;
        flex: 1 0 25%
    }

    .four-block-text {
        margin: 0;
        flex-direction: column;
    }

    .four-block-text-subtitle {
        margin: 0
    }

    .four-block-text-title {
        margin: 0 0 10px 0;
        font-size: 1em;
    }

    .price {
        margin: 80px 0 0 0;
    }

    .price .title_block {
        height: 100px
    }

    .table {
        margin: 0 auto 0 auto;
        width: 100%;
        font-size: 1.2em;
        text-align: center;
    }

    .table-title .cell:nth-child(3){
        display: none;
    }

    .table-title{
        display: none;
    }

    .table-item .cell {
        font-size: 0.7em;
    }

    .price .title_block .subtitle {
        font-size: 1em;
    }

    .delivery  {
        margin: 20px 0 10px 0;
    }

    .delivery-item img {
        width: 150px;
        height: 150px;
        margin: 0;
    }

    .delivery .title_block {
        flex-direction: column;
    }

    .delivery .title_block .subtitle{
        font-weight: 300;
        margin: 20px 0 0 0
    }

    .delivery-block {
        margin: 100px 0
    }

    .delivery-item img:nth-child(1) {
        margin: 0 20px 0 20px
    }

    .contacts-form {
        width: 350px;
        height: 450px;
        top: 40px;
        right: 20px;
        border-radius: 20px;
        padding: 50px;
        font-size: 0.8em;
    }

    .contacts-block {
        margin: 0;
    }

    .contacts {
    }

    .contacts-form form input[type=text] {
        font-size: 1em

    }

    .contacts-form form input[type=file] {
        font-size: 1em

    }

    .contacts-form form input[type=checkbox] {
        font-size: 1em;
        margin: 10px 0 0 0;
        padding: 0

    }
    .phone-checkbox {
        flex: 0 0 100%
    }

    textarea {
        height: 80px
    }

    .contact-btn {
        font-size: 1em;
        color: black;
        padding: 10px
    }

    .contacts-phone input {
        width: 100%
    }

    .contacts-block {
    font-size: 1.5em;
    margin: 20px 0  50px 0;

    }

    .footer-logo {
        font-size: 4em;
        margin: 30px 0 0 80px
    }

    .footer-list {
        display: none
    }

    .footer-block div:nth-child(3),
    .footer-block div:nth-child(4) {
        display: none
    }

    .footer {
        height: 30vh;
    }


}



@media screen and (min-width: 1280px) and (max-width: 1366px) {

    .container {
        width: 90%;
        margin: auto;
    }

    .navbar {
        display: none;
    }


     .social-network a:nth-child(2) img {
        width: 50px;
        height: 50px;
    }

    .social-network a:nth-child(1) img {
        width: 45px;
        height: 25px;
        margin: 12.5px -15px 12.5px 0
    }


    .social-network {
        margin-right: 10px;
    }

    .phone {
        text-decoration: none;
        cursor:pointer;
        margin: 0 20px 0 0;
        font-size: 0.5em;
    }

    .header-inner {
        display: flex;
        flex-direction: column;
    }

    .header-inner{
        margin: 0;
        padding: 0;
    }

    .header {
        width:100%;
        margin: 0 0 0 0;
        padding: 0;
        font-size: 1.9em;
         right: 0;
    }

    .navbar a{
        text-decoration: none;
        font-size: 0.8em;
        padding: 17px 5px;
        margin: 0
    }

    .navbar a:nth-child(2),
    .navbar a:nth-child(3),
    .navbar a:nth-child(4),
    .navbar a:nth-child(7),
    .navbar a:nth-child(5) {
        display: none
    }

    .navbar a:nth-child(8) {
        margin-right: 10px;
    }

    #myVideo {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        filter: brightness(50%)
    }


    .video-wrapper {
        height: 100%!important;
    }
    .first-screen {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }

    .first_logo {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: -600px;
        text-align: center;
        left: 28%;
                align-items: center;
        justify-content: flex-end;
    }

    .first_logo P{
        width: 350px;
        font-size: 1.5em;
        text-align: center;
        margin: 40px 0 0 0 ;
    }

    .first_logo img {
        width: 550px;
    }

    .first-screen-btn {
        display: none;
    }

    .about {
        display: flex;
        flex-direction: row;
        padding:750px 0 50px 0;
        font-size: 1em;
        margin: 0;
    }

    .about-list  li{
        margin: 0 0 0 20px
    }

    .about-list  li:last-child{
        margin: 0 0 40px 20px
    }

    .about img {
    }

    .first-screen__title-block {
        align-self: center;
    }

    .about-list {
        margin: 30px 0 0 0;
        font-size: 1em;
    }


    .about img {
        width: 350px;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
    }

    .h2 {
      font-size: 1em;
    }

    .title {
        font-size: 2em;
        flex: 1 0 60%;
    }

    .subtitle {
        flex: 1 0 40%;
        font-size: 0.7em;
    }

    .calculator {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .calculator .card {
        margin: 0 auto 0 auto;
        width: 70%;
        height: 350px;
        display: flex;
        flex-direction: row;
    }

    .first-card {
        flex-direction: row;
    }

    .first-card label {
        width: 200px;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .calculator .title_block .subtitle {
    }

    .calculator .title_block .title {
        margin-bottom: 50px;
        font-size: 1.9em;
    }

    .first-card img{
        height: 30px;
    }

    label.common-label {
        font-size: 0.6em;
        padding: 0 0 0 0;
    }

    .first-card-calculator-btn {
        display: block;
        margin-left: 20px;
        padding: 10px 15px;
        font-size: 0.7em;
        border: 1px solid #000000;
        border-radius: 30px;
        cursor: pointer;
    }

    .card {
        margin: 0 auto;
        height: 300px;
    }

    .calculator-footer-block__title {
        font-size: 1.1em;
        width: 200px
    }

    .instagram-block,
    .tiktok-block {
        display: none;
    }

    .gallery_block {
        justify-content: space-around;
        align-content: flex-start;
        height: 500px;
    }

    .gallery-block__item{
        flex: 0 0 20%;
        object-fit: cover;
        overflow: hidden;
        height: 230px;
        margin: 0 0;
        padding: 0;
    }

    .show-more-btn {
    }

    .gallery-block__item img{
        object-fit: cover;
        max-width: 250px;
        width: 100%;
        height: auto;
    }

    .gallery-block__item:nth-child(13),
    .gallery-block__item:nth-child(14),
    .gallery-block__item:nth-child(15),
    .gallery-block__item:nth-child(16) {
    }

    .materials .title_block {
        margin: 0;
        margin-bottom: 50px;

    }

    .materials .title_block .subtitle {
        font-size: 0.9em;
    }

    .material-block-title {
        font-size: 1.5em;
        flex: 1 0 30%;
    }

    .material-block-item {
        align-self: flex-start;
        margin: 0 20px;
        flex: 1 0 25%;
        font-size: 1em;
    }

    .material-block-description {
        font-size: 0.8em;
    }

    .material-block-body {
        text-align: center;
    }

    .material-block-material div:nth-child(n+2),
    .material-block-material div:nth-child(n+3) {
    }

    .modeling .title_block .subtitle {
    }


    .first-modeling-block img,


    .four-modeling-block img {
        width: 200px;
        margin: 0 20px 0 0
    }

    .second-modeling-block img {
        width: 500px;
        margin: 0 20px 0 0
    }

    .third-modeling-block img {
                width: 470px;
        margin: 0 20px 0 0
    }

    .first-modeling-block,
    .second-modeling-block,
    .third-modeling-block,
    .four-modeling-block {
        flex-direction: row;
    }

    .first-modeling-block::before,
    .second-modeling-block::before,
    .third-modeling-block::before,
    .four-modeling-block::before {
        display: none;
    }

    .modeling .title_block {
    }

    .first-modeling-text-title,
    .second-block-text-title,
    .third-block-text-title {
        margin: 0 0 10px  0;
        font-size: 1.5em;
    }

    .four-block-text-title {
        margin: 0 0 10px 0;
    }

    .first-modeling-text,
    .second-block-text,
    .third-block-text,
    .third-block-text-subtitle,
    .second-block-text-subtitle,
    .first-modeling-text-subtitle {
        margin: 0 10px 0 0;
        flex: 1 0 25%
    }

    .four-block-text {
        margin: 0;
        flex-direction: column;
    }

    .four-block-text-subtitle {
        margin: 0
    }

    .four-block-text-title {
        margin: 0 0 10px 0;
        font-size: 1em;
    }

    .price {
        margin: 80px 0 0 0;
    }

    .price .title_block {
        height: 100px
    }

    .table {
        margin: 0 auto 0 auto;
        width: 100%;
        font-size: 1.2em;
        text-align: center;
    }

    .table-title .cell:nth-child(3){
        display: none;
    }

    .table-title{
        display: none;
    }

    .table-item .cell {
        font-size: 0.7em;
    }

    .price .title_block .subtitle {
        font-size: 1em;
    }

    .delivery  {
        margin: 20px 0 10px 0;
    }

    .delivery-item img {
        width: 150px;
        height: 150px;
        margin: 0;
    }

    .delivery .title_block {
        flex-direction: column;
    }

    .delivery .title_block .subtitle{
        font-weight: 300;
        margin: 20px 0 0 0
    }

    .delivery-block {
        margin: 100px 0
    }

    .delivery-item img:nth-child(1) {
        margin: 0 20px 0 20px
    }

    .contacts-form {
        width: 350px;
        height: 450px;
        top: 40px;
        right: 20px;
        border-radius: 20px;
        padding: 50px;
        font-size: 0.8em;
    }

    .contacts-block {
        margin: 0;
    }

    .contacts {
    }

    .contacts-form form input[type=text] {
        font-size: 1em

    }

    .contacts-form form input[type=file] {
        font-size: 1em

    }

    .contacts-form form input[type=checkbox] {
        font-size: 1em;
        margin: 10px 0 0 0;
        padding: 0

    }
    .phone-checkbox {
        flex: 0 0 100%
    }

    textarea {
        height: 80px
    }

    .contact-btn {
        font-size: 1em;
        color: black;
        padding: 10px
    }

    .contacts-phone input {
        width: 100%
    }

    .contacts-block {
    font-size: 1.5em;
    margin: 20px 0  50px 0;

    }

    .footer-logo {
        font-size: 4em;
        margin: 30px 0 0 80px
    }

    .footer-list {
        display: none
    }

    .footer-block div:nth-child(3),
    .footer-block div:nth-child(4) {
        display: none
    }

    .footer {
        height: 30vh;
    }


}

@media screen and (min-width: 1367px) and (max-width: 1500px) {

    .container {
        width: 90%;
        margin: auto;
    }

    .navbar {
        display: none;
    }


     .social-network a:nth-child(2) img {
        width: 50px;
        height: 50px;
    }

    .social-network a:nth-child(1) img {
        width: 45px;
        height: 25px;
        margin: 12.5px -15px 12.5px 0
    }


    .social-network {
        margin-right: 10px;
    }

    .phone {
        text-decoration: none;
        cursor:pointer;
        margin: 0 20px 0 0;
        font-size: 0.5em;
    }

    .header-inner {
        display: flex;
        flex-direction: column;
    }

    .header-inner{
        margin: 0;
        padding: 0;
    }

    .header {
        width:100%;
        margin: 0 0 0 0;
        padding: 0;
        font-size: 1.9em;
         right: 0;
    }

    .navbar a{
        text-decoration: none;
        font-size: 0.8em;
        padding: 17px 5px;
        margin: 0
    }

    .navbar a:nth-child(2),
    .navbar a:nth-child(3),
    .navbar a:nth-child(4),
    .navbar a:nth-child(7),
    .navbar a:nth-child(5) {
        display: none
    }

    .navbar a:nth-child(8) {
        margin-right: 10px;
    }

    #myVideo {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        filter: brightness(50%)
    }

    .video-wrapper {
        height: 100%!important;
    }

    .first-screen {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }

    .first_logo {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: -650px;
        text-align: center;
        left: 33%;
                align-items: center;
        justify-content: flex-end;
    }


    .first_logo P{
        width: 500px;
        font-size: 1.8em;
        text-align: center;
        margin: 40px 0 0 0;
    }

    .first_logo img {
        width: 550px;
    }

    .first-screen-btn {
        display: none;
    }

    .about {
        display: flex;
        flex-direction: row;
        padding:850px 0 50px 0;
        font-size: 1em;
        margin: 0;
    }

    .about-list  li{
        margin: 0 0 0 20px
    }

    .about-list  li:last-child{
        margin: 0 0 40px 20px
    }

    .about img {
    }

    .first-screen__title-block {
        align-self: center;
    }

    .about-list {
        margin: 30px 0 0 0;
        font-size: 1em;
    }


    .about img {
        width: 350px;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
    }

    .h2 {
      font-size: 1em;
    }

    .title {
        font-size: 2em;
        flex: 1 0 60%;
    }

    .subtitle {
        flex: 1 0 40%;
        font-size: 0.7em;
    }

    .calculator {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .calculator .card {
        margin: 0 auto 0 auto;
        width: 70%;
        height: 450px;
        display: flex;
        flex-direction: row;
    }

    .first-card {
        flex-direction: row;
    }

    .first-card label {
        width: 200px;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .calculator .title_block .title {
        margin-bottom: 50px;
        font-size: 1.9em;
    }

    .first-card img{
        height: 30px;
    }

    label.common-label {
        font-size: 0.6em;
        padding: 0 0 0 0;
    }

    .first-card-calculator-btn {
        display: block;
        margin-left: 20px;
        padding: 10px 15px;
        font-size: 0.7em;
        border: 1px solid #000000;
        border-radius: 30px;
        cursor: pointer;
    }

    .card {
        margin: 0 auto;
        height: 500px;
    }

    .calculator-footer-block__title {
        font-size: 1.5em;
        width: 400px
    }

    .instagram-block,
    .tiktok-block {
        display: none;
    }

    .gallery_block {
        justify-content: space-around;
        align-content: flex-start;
    }

    .gallery-block__item{
        flex: 0 0 20%;
        object-fit: cover;
        overflow: hidden;
        height: 250px;
        margin: 0 0;
        padding: 0;
    }

    .show-more-btn {
    }

    .gallery-block__item img{
        object-fit: cover;
        max-width: 250px;
        width: 100%;
        height: auto;
    }

    .gallery-block__item:nth-child(13),
    .gallery-block__item:nth-child(14),
    .gallery-block__item:nth-child(15),
    .gallery-block__item:nth-child(16) {
    }

    .materials .title_block {
        margin: 0;
        margin-bottom: 0;

    }

    .materials .title_block .subtitle {
        font-size: 0.9em;
    }

    .material-block-title {
        font-size: 1.5em;
        flex: 1 0 30%;
    }

    .material-block-item {
        align-self: flex-start;
        margin: 0 20px;
        flex: 1 0 25%;
        font-size: 1em;
    }

    .material-block-description {
        font-size: 0.8em;
    }

    .material-block-body {
        text-align: center;
    }

    .material-block-material div:nth-child(n+2),
    .material-block-material div:nth-child(n+3) {
    }

    .first-modeling-block img,


    .four-modeling-block img {
        width: 200px;
        margin: 0 20px 0 0
    }

    .second-modeling-block img {
        width: 500px;
        margin: 0 20px 0 0
    }

    .third-modeling-block img {
                width: 470px;
        margin: 0 20px 0 0
    }

    .first-modeling-block,
    .second-modeling-block,
    .third-modeling-block,
    .four-modeling-block {
        flex-direction: row;
    }

    .first-modeling-block::before,
    .second-modeling-block::before,
    .third-modeling-block::before,
    .four-modeling-block::before {
        display: none;
    }

    .modeling .title_block {
    }

    .first-modeling-text-title,
    .second-block-text-title,
    .third-block-text-title {
        margin: 0 0 10px  0;
        font-size: 1.5em;
    }

    .four-block-text-title {
        margin: 0 0 10px 0;
    }

    .first-modeling-text,
    .second-block-text,
    .third-block-text,
    .third-block-text-subtitle,
    .second-block-text-subtitle,
    .first-modeling-text-subtitle {
        margin: 0 10px 0 0;
        flex: 1 0 25%
    }

    .four-block-text {
        margin: 0;
        flex-direction: column;
    }

    .four-block-text-subtitle {
        margin: 0
    }

    .four-block-text-title {
        margin: 0 0 10px 0;
        font-size: 1em;
    }

    .price {
        margin: 80px 0 0 0;
    }

    .price .title_block {
        height: 100px
    }

    .table {
        margin: 0 auto 0 auto;
        width: 100%;
        font-size: 1.2em;
        text-align: center;
    }

    .table-title .cell:nth-child(3){
        display: none;
    }

    .table-title{
        display: none;
    }

    .table-item .cell {
        font-size: 0.7em;
    }

    .price .title_block .subtitle {
        font-size: 1em;
    }

    .delivery  {
        margin: 20px 0 10px 0;
    }

    .delivery-item img {
        width: 150px;
        height: 150px;
        margin: 0;
    }

    .delivery .title_block {
        flex-direction: column;
    }

    .delivery .title_block .subtitle{
        font-weight: 300;
        margin: 20px 0 0 0
    }

    .delivery-block {
        margin: 100px 0
    }

    .delivery-item img:nth-child(1) {
        margin: 0 20px 0 20px
    }

    .contacts-form {
        width: 350px;
        height: 450px;
        top: 40px;
        right: 20px;
        border-radius: 20px;
        padding: 50px;
        font-size: 0.8em;
    }

    .contacts-block {
        margin: 0;
    }

    .contacts {
    }

    .contacts-form form input[type=text] {
        font-size: 1em

    }

    .contacts-form form input[type=file] {
        font-size: 1em

    }

    .contacts-form form input[type=checkbox] {
        font-size: 1em;
        margin: 10px 0 0 0;
        padding: 0

    }
    .phone-checkbox {
        flex: 0 0 100%
    }

    textarea {
        height: 80px
    }

    .contact-btn {
        font-size: 1em;
        color: black;
        padding: 10px
    }

    .contacts-phone input {
        width: 100%
    }

    .contacts-block {
    font-size: 1.5em;
    margin: 20px 0  50px 0;

    }

    .footer-logo {
        font-size: 4em;
        margin: 30px 0 0 80px
    }

    .footer-list {
        display: none
    }

    .footer-block div:nth-child(3),
    .footer-block div:nth-child(4) {
        display: none
    }

    .footer {
        height: 30vh;
    }


}